.MuiTableCell-root {
	b {
		margin-right: 7px;
	}
}

// .MuiTableContainer-root {
// 	width: 45%;
// }

// @media screen and (max-width: 1600px) {
// 	.MuiTableContainer-root {
// 		width: 70%;
// 	}
// }

.map-question-img {
	width: 70%;
	margin-bottom: 20px;
}

.quiz-section-content {
	margin-top: 10px;
}
