.box-include {
	background-color: white;
	border: 1px solid #a9a9a9;
	width: 200px;
	height: 25px;
	padding: 0 3px;
	margin-left: 10px;
}
.quiz-drop {
	.listAnswer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		p {
			margin-bottom: 10px;
		}
	}
}

.wrap-text {
	display: flex;
	justify-content: flex-start;
}
